* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 500;
}

body {
  width: 100vw;
  min-height: 100vh;

  color: white;
  background-color: black;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  text-align: center;

  overflow: hidden;
}

.bokeh-container {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

.view-0 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  animation: fade-in 0.5s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-0 > h5 {
  font-size: 3rem;
  z-index: 1;
  /* line-height: 100%; */
  animation: fade-in 0.5s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-0 > h1 {
  font-size: 15rem;
  font-weight: 600;
  word-spacing: -1rem;
  z-index: 1;
  line-height: 110%;
  animation: fade-in 2s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-1 {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}

.view-1 > h2 {
  font-size: 11rem;
  font-weight: 600;
  animation: fade-in 2s cubic-bezier(0.19, 1, 0.22, 0.96),
    text-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-1 > h3 {
  font-size: 5rem;
  line-height: 100%;
  animation: sentence-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-1 > h4 {
  width: 70%;
  margin: auto;
  margin-top: 1rem;
  animation: fade-in 1s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-2 {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}

.view-2 > h1 {
  font-size: 12.5rem;
  font-weight: 600;
  word-spacing: -0.5rem;
  z-index: 1;
  line-height: 110%;
  animation: sentence-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-3 {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}

.view-3 > h1 {
  font-size: 12.5rem;
  font-weight: 600;
  word-spacing: -0.5rem;
  z-index: 1;
  line-height: 110%;
  animation: sentence-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96),
    word-spacing 1s 1s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-4 {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}

.view-4 > h1 {
  font-size: 12.5rem;
  font-weight: 600;
  word-spacing: -0.5rem;
  z-index: 1;
  line-height: 110%;
  animation: sentence-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96),
    word-spacing 1s 1s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-5 {
  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  display: none;
}

.view-5 > h1 {
  font-size: 7.5rem;
  font-weight: 600;
  /* word-spacing: -0.5rem; */
  z-index: 1;
  line-height: 110%;
  animation: sentence-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96);
}

.view-5 > .social-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* gap: 50px; */
  margin-top: 25px;
  animation: gap-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96) forwards,
    warper 2s cubic-bezier(0.19, 1, 0.22, 0.96) forwards;
}

.view-5 > .social-container > .social {
  width: 25%;
  aspect-ratio: 1;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.view-5 > .social-container > .social:hover {
  animation: color-burner 2s cubic-bezier(0.19, 1, 0.22, 0.96) forwards;
}

.view-5 > .social-container > .social:not(:hover) {
  animation: none;
}

.view-5 > .social-container > .mail {
  background-color: #e22727;
  background-image: url("images/gmail.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 60px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 10px #e22727, 0 0 30px #e22727, 0 0 40px #e22727;
}

.view-5 > .social-container > .linkedin {
  background-color: #517ee0;
  background-image: url("images/linkedin.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 10px #517ee0, 0 0 30px #517ee0, 0 0 40px #517ee0;
}

.view-5 > .social-container > .whatsapp {
  background-color: #8ae75b;
  background-image: url("images/whatsapp.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px;
  display: inline-block;
  box-shadow: 0 0 10px #8ae75b, 0 0 30px #8ae75b, 0 0 40px #8ae75b;
}

.bokeh {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  rotate: 45deg;
  z-index: 0;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  animation: sparkle 10s alternate infinite;
  filter: blur(5px);
}

.bokeh1 {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 200px;
  height: 200px;
  rotate: 45deg;
  z-index: 0;
  border-radius: 100%;
  background-color: rgba(0, 145, 255, 0.5);
  /* opacity: 0.4; */
  animation: fade-in 5s alternate-reverse infinite;
  filter: blur(40px);
}

.bokeh2 {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  rotate: 45deg;
  z-index: 0;
  border-radius: 100%;
  background-color: rgba(255, 255, 255, 0.05);
  animation: sparkle 10s 1s alternate-reverse infinite;
  filter: blur(5px);
}

@keyframes text-expand {
  from {
    letter-spacing: -20px;
  }
  to {
    letter-spacing: auto;
  }
}

@keyframes sentence-expand {
  from {
    word-spacing: -20px;
  }
  to {
    word-spacing: auto;
  }
}

@keyframes gap-expand {
  from {
    gap: 0;
  }
  to {
    gap: 50px;
  }
}

@keyframes color-burner {
  from {
    filter: hue-rotate(100deg);
  }
  to {
    filter: hue-rotate(0deg);
  }
}

@keyframes warper {
  from {
    transform: skewY(-10deg);
  }
  to {
    transform: skewY(0deg);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    scale: 0.8;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes sparkle {
  0% {
    top: 40%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.05);
  }
  10% {
    top: 60%;
    left: 70%;
  }
  20% {
    top: 60%;
    left: 55%;
    background-color: rgba(255, 255, 255, 0.3);
  }
  50% {
    top: 60%;
    left: 15%;
  }
  70% {
    top: 40%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.05);
  }
  80% {
    top: 100%;
    left: 40%;
    background-color: rgba(255, 255, 255, 0.5);
  }
  90% {
    background-color: rgba(255, 255, 255, 0.05);
  }
  100% {
    top: 50%;
    left: 50%;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

@media screen and (max-width: 480px) {
  .view-0 > h5 {
    font-size: 2rem;
    /* line-height: 100%; */
  }

  .view-0 > h1 {
    font-size: 7.5rem;
    /* font-weight: 500; */
    margin-top: 1rem;
  }

  .view-1 > h2 {
    font-size: 6rem;
    font-weight: 600;
    animation: fade-in 2s cubic-bezier(0.19, 1, 0.22, 0.96);
  }

  .view-1 > h3 {
    font-size: 3rem;
    margin-top: 1rem;
  }

  .view-1 > h4 {
    width: 70%;
  }

  .view-2 > h1 {
    font-size: 4.5rem;
    /* font-weight: 500; */
    word-spacing: 2.5px;
    /* animation: text-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96), */
    /* word-expand 1s cubic-bezier(0.19, 1, 0.22, 0.96); */
  }

  .view-3 > h1 {
    font-size: 4rem;
    /* font-weight: 500; */
    word-spacing: 2.5px;
  }

  .view-4 > h1 {
    font-size: 4rem;
    /* font-weight: 500; */
    word-spacing: 2.5px;
  }

  .view-5 > h1 {
    font-size: 5rem;
  }
}
